.home{
    background-color: var(--main-color);                    
    //color: rgb(209, 8, 8);                                            
   margin-top: 78px;
   overflow: hidden;                                     //margin of home page
}